.app-header{
  margin: 30px 0;
}

.app-logo { 
  max-width: 150px;
} 

.app-footer{
  text-align: center;
  font-size: 15px;
  margin: 30px 0;
}

.dictionary{
  background-color: rgba(171, 186, 186, 0.564);
}

.dictionary form{
  text-align: center;
}

.results h2{
  color: blue;
  text-transform: capitalize;
  text-align: left;
  margin: 30px 20px;
}
