.app-header{
  margin: 30px 0;
}

.app-logo { 
  max-width: 150px;
} 

.app-footer{
  text-align: center;
  font-size: 15px;
  margin: 30px 0;
}

.dictionary{
  background-color: rgb(117, 246, 246);
}